!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    %link{href: "https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700", media: "screen", rel: "stylesheet", type: "text/css"}/
    :css
      /* No content under the fixed bootstrap header. */
      body {
        padding-top: 60px;
      }
    %link{href: "app/assests/stylesheets/bootstrap.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "app/assests/stylesheets/bootstrap-responsive.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "app/assests/stylesheets/common.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "app/assests/stylesheets/fontawesome.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "app/assests/stylesheets/project.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "app/assests/stylesheets/vexp.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    /
      Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans for details. <script type="text/javascript" src="//use.typekit.net/YOUR_KIT_ID.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    %title VEXP
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        %a.brand{href: "#"} VEP
        %ul.nav.pull-right
          %li
            %a{href: "#"} Home
          %li
            %a{href: "#"} Log in
          %li
            %a{href: "#"} Sign up
    .container-fluid.container-fluid-3
      .container
        .row-fluid
          %span.span12
            %h1.heading{align: "left "} Virtual Expert Panel
            %p Revolutionizing Collaborative Diagnostics. 
            %button.btn.btn-large.btn-primary Try it now →
    .container.container-1
      .row-fluid
        %span.span4
          %h2.heading Benefit One
          %p Product benefit number one. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque lacinia elit, at gravida.
        %span.span4
          %h2.heading Benefit Two
          %p Product benefit number two. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque lacinia elit, at gravida.
        %span.span4
          %h2.heading Benefit Three
          %p Product benefit number one. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque lacinia elit, at gravida.