.container-fluid.container-fluid-3
  .container
    .row-fluid
      %span.span12
        %h1.heading{align: "left "} Virtual Expert Panel
        %p Revolutionizing Collaborative Diagnostics. 
        %button.btn.btn-large.btn-primary Try it now →
.container.container-1
  .row-fluid
    %span.span4
      %h2.heading Experts
      %p VEP has compiled a global group of medical experts ready at any time to tackle the toughest of cases. Because of our, well, virtual nature, they usually respond within twenty-four hours.
    %span.span4
      %h2.heading Big Data
      %p By collecting patient information, as well as the data connecting symptoms to root causes, VEP has the ability to save lives. Hospitals today are analyzing our data to connect rare diseases and symptoms
    %span.span4
      %h2.heading Security
      %p Keeping patient data safe is our number one priority. We follow all standard protocols, including compliance with the HIPAA standard, to ensure that your data is safe with us.